nav{
    border: solid 4px blue;
    font-family: 'Metal Mania', cursive;
}
.nav-item{
    font-size: 30px;
}

.navbar-brand{
    font-size: 50px;
}

.loseMessage{
    background: black;
    padding: 16px;
    color: red;
    font-size: 20px;
}

